.login_page_container,
.sign_up_page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login_form_container,
.sign_up_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 94px);
}


.login_form_wrapper,
.sign_up_form_wrapper {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form,
.sign_up_form {
  min-width: 300px;
}

.loginBtn {
    background-color: #23A5Eb !important;
    color: white !important;
}

.loginBtn {
background-color: #23A5Eb !important;
color: white !important;
}

.panelTables {
margin-top: 3%;
}

.logoNavbar {
width: 2.5em !important;
}

.ui.menu {
border-radius: 0% !important;
margin: 0 !important;
}

.spinner {
margin: auto !important;
}

.pagination-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  }
  
.pagination-wrapper .logs-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
  
.pagination-wrapper .logs-pagination .logs-pagination-pagesize {
  margin-right: 2rem;
}

.settings-button {
  display: none !important;  
}

.settings-button:hover {
  display: inline-block!important;  
}
